.page-header
  #title-banner
    #gold-icon
      = image_tag('cash.svg')
    #page-title
      #gold-title
        %h1
          = t( '.gold.title' )

      .dropdown
        %button#dropdownMenuLink.btn.btn-secondary.dropdown-toggle{'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', :type => 'button'}
          Langue
          .dropdown-menu{'aria-labelledby' => 'dropdownMenuLink'}
            %a.dropdown-item{:href => '#'}
              .flag-icon
                %i.flag.flag-gb
              Anglais
            %a.dropdown-item{:href => '/fr/index.html' }
              .flag-icon
                %i.flag.flag-fr
              Français

  = partial :bdy